@{
    ViewBag.Title = "Sistema control médico";
}

<div class="jumbotron" style="background-image:url(../img/medico.jpg); height: 400px; width:900px;">

</div>
<hr />
    <h4 class="text-info"><font color="black"><b>Módulos</b></font></h4>
<div class="row">

    <div class="col-md-4">

        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header text-info font-weight-bold"><font color="black"><b>Módulo 1</b></font></div>
            <div class="card-body text-info">
                <font color="black">
                    <h5 class="card-title">Mantenimientos</h5>
                </font>
                <font color="black">
                    <p class="card-text" align="justify">Este módulo consiste en crear formularios que alimentan ciertas tablas</p>
                </font>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header text-info font-weight-bold"><font color="black"><b>Módulo 2</b></font></div>
            <div class="card-body text-info">
                <font color="black">
                    <h5 class="card-title">Procesos</h5>
                    <p class="card-text" align="justify">En este módulo se van a configurar algunos procesos, estos procesos serán registrados</p>
                </font>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header text-info font-weight-bold"><font color="black"><b>Módulo 3</b></font></div>
            <div class="card-body text-info">
                <font color="black">
                    <h5 class="card-title">Consultas</h5>
                    <p class="card-text" align="justify">En este módulo se pueden realizar consultas en la base de datos </p>
                </font>
            </div>
        </div>
    </div>
</div>